{% extends 'base.html' %}
{% block content %}

<div class="container">
    <div class = "row">
        <div class = "col-12">
            <h1 class = "display-4">Log in</h1>
            {% if success %}
                <h4 class = "text-success">{{success}}</h4>
            {% else %}
                <h4 class="text-danger">{{error}}</h4>
            {% endif %}
        </div>
    </div>
    <div class = "row">
        <div class="col-12">
        <form method = "POST">
            {% csrf_token %}
            <div class="form-group">
                <label for="username">Username</label>
                <input type="text" name = "username" class="form-control">
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" name = "password" class = "form-control">
            </div>
            <br>
            <input type = "submit" value = "Log In" class="btn btn-md btn-primary">
        </form>
      </div>
    </div>
</div>

{% endblock content %}