<!-- for use the code of myblog/templates/base.html/ in this file-->
{% extends 'base.html' %}
{% block content %}
<div class = "container px-5">
    <div class="row">
        <div class="col-12">
            <h1 class="display-4">Update Post</h1>
            <h4 class="text-danger">{{error}}</h4>
            <h4 class="text-success">{{success}}</h4>
        </div>
    </div>
    <br>

     <!-- formulary to update a especific post -->
    <div class="row">
        <div class="col-12">
            <form method="POST">
                {% csrf_token %}
                <div class="form-group">
                    <label for="title">Post Title</label>
                    <input type="text" name = "title" value = "{{post.title}}" class="form-control"/>
                </div>
                <br>
                <div class="form-group">
                    <label for="content">Post Content</label>
                    <textarea name="content" rows="8" class="form-control">{{post.content}}</textarea>
                </div>
                <br>
                <input type="submit" value="Update" class = "btn btn-md btn-primary"/>
                <a href = "{% url 'posts:detail' id=post.id %}" class = "btn btn-md btn-danger">Cancel</a>
            </form>
        </div>
    </div>
</div>


{% endblock content %}